@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111111;
}

nav {
  height: 3em;
  width: 95%;
  background: linear-gradient(45deg, #f1a5d0, #82dae6);
  border-radius: 45px;
  padding-top: 12px;
  padding-left: 0%;
  padding-right: 0%;
  margin: auto;
  text-align: center;
  margin-top: 2.5em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.banner-info {
  background-color: white;
  max-width: 95%;
  max-height: 15em;
  border-radius: 40px;
  margin: auto;
  text-align: center;
  padding: 10px 0px 20px;
  margin-top: 3em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.banner-info h1 {
  font-size: 50px;
}

nav ul {
  list-style: none;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 0%;
}

nav li {
  display: inline;
  margin-left: 20px;
  text-align: center;
}

.home {
  text-decoration: none;
  color: #111111;
}

.contact {
  text-decoration: none;
  color: #111111;
}

.last-works {
  height: 3em;
  width: 95%;
  background: linear-gradient(45deg, #f1a5d0, #82dae6);
  border-radius: 45px;
  padding-top: 12px;
  margin: auto;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.last-works h2 {
  margin: 3px;
}

.tittle {
  margin-bottom: 2em;
}

.works {
  width: 100%;
  padding: 0;
}

.work {
  margin-top: 1em;
  width: 48%;
  height: 200px;
  border-radius: 40px;
  margin-left: 0.75em;
  margin-right: 0.75em;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

#w2 {
  background-color: #111111;
}

#w1 img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 199px;
  border-radius: 37px;
  border: white 2px solid;
}

#w2 img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 199px;
  border-radius: 37px;
  border: white 2px solid;
}
.portada {
  width: 100.5%;
  height: 200.5px;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  background-color: rgba(240, 248, 255, 0.26);
  border-radius: 37px;
  line-height: 150px;
}

#w1 h3 {
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

#w2 h3 {
  font-size: 24px;
  color: white;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

@media (max-width: 755px) {
  .works {
    box-sizing: border-box;
    padding-right: 2.5em;
    padding-left: 1em;
  }
  .work {
    width: 100%;
  }

  .banner-info {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
