@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111111;
}

nav {
  height: 3em;
  width: 95%;
  background: linear-gradient(45deg, #f1a5d0, #82dae6);
  border-radius: 45px;
  padding-top: 12px;
  padding-left: 0%;
  padding-right: 0%;
  margin: auto;
  text-align: center;
  margin-top: 2.5em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.banner-info {
  background-color: white;
  max-width: 95%;
  max-height: 15em;
  border-radius: 40px;
  margin: auto;
  text-align: center;
  padding: 10px 0px 20px;
  margin-top: 3em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.banner-info h1 {
  font-size: 50px;
}

nav ul {
  list-style: none;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 0%;
}

nav li {
  display: inline;
  margin-left: 20px;
  text-align: center;
}

.last-works {
  height: 3em;
  width: 95%;
  background: linear-gradient(45deg, #f1a5d0, #82dae6);
  border-radius: 45px;
  padding-top: 12px;
  margin: auto;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.last-works h2 {
  margin: 0px;
}

.tittle {
  margin-bottom: 2em;
}

.works {
  width: 100%;
  padding: 0;
}

.work {
  margin-top: 1em;
  background-color: aliceblue;
  width: 250px;
  height: 200px;
  border-radius: 40px;
  margin-left: 0.75em;
  display: inline-block;
  box-sizing: border-box;
}

.portada {
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

.portada h3 {
  margin-top: 85%;
  width: 190px;
  max-width: 185px;
  text-align: center;
}
